[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

pyautogui = "*"
python-xlib = "*"
pynput = "*"
numpy = "*"
opencv-python = "*"
scikit-image = "*"


[dev-packages]

